/* whitespace for better a UX */
.bio-container { padding: 30vh 10% 30vh 10%; }
.bio-container h2 { color: rgb(0, 0, 0); font-family: 'Mrs Sheppards', cursive; font-size: 4vw; margin-bottom: 5%; text-align: center; }
.bio-container p { color: #4e4e4e; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: center; text-justify: inter-word; }

/* matches media query in Hero component */
@media (max-width: 900px) {
    .bio-container h2 { font-size: 8vw; } /* adjust text size to stay large on small screens */
}

/* Bio glitch-style heading */

.logoTopMidWrapper {
    display: flex; flex-flow: column;
    height: 200px;
}

.logoTopWrapper {
    position: sticky;
    top: 1px;
    padding-top: 100px;
    background-color: white;
}

.logoTopBio {
    background: url(./whoami.png) 50% 0 no-repeat;
    position: relative;
    height: 48px;
}

.logoMidBio {
    background: url(./whoamiGlitched.png) 50% 0 repeat-y;
    flex: 1;
}

.logoBottomBio {
    background: url(./whoami.png) 50% -48px no-repeat;;
    height: 48px;
}
