@import "../Shared/Shared.scss";

.bio-container {
    padding: 30vh 10% 30vh 10%;
    h2 { color: rgb(0, 0, 0); font-family: 'Mrs Sheppards', cursive; font-size: 5vw; margin-bottom: 5%; text-align: center; }
    p { color: #4e4e4e; font-family: 'Helvetica Neue', sans-serif; font-size: 16px; line-height: 24px; margin: 0 0 24px; text-align: center; text-justify: inter-word; }
    img {
        height: 40px;
        border-radius: 25%;
        margin: 0% 0.5% 0% 0.5%;
        transition: transform 0.25s;
    }
    img:hover {
        transform: scale(1.25);
    }
}

@media (max-width: $media-query-mobile) {
    .bio-container h2 { font-size: 10vw; }
}
