@import "../Shared/Shared.scss";

.bio-container { padding: 30vh 10% 30vh 10%; }
.bio-container h2 { color: rgb(0, 0, 0); font-family: 'Mrs Sheppards', cursive; font-size: 4vw; margin-bottom: 5%; text-align: center; }
.bio-container p { color: #4e4e4e; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: center; text-justify: inter-word; }

@media (max-width: $media-query-mobile) {
    .bio-container h2 { font-size: 8vw; }
}
