@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* 1 rem */
  font-size: 16px;
}

.bg {
  background-color: #0e0000;
}

.r3f-scene {
  height: 100vh;
  height: 100svh;
  height: 100dvh;

  width: 100vw;
  width: 100svw;
  width: 100dvw;
}

::-moz-selection {
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}

.blur-blob-behind {
  width: 1px;
  height: 1px;
  background-color: rgb(0, 0, 0); /* for the 1x1 in the center */
  align-self: center;
  border-radius: 50%;
  box-shadow: 10px -25px 50px 60px rgb(0, 0, 0);
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.easter-egg * {
  border: 1px solid pink;
  border-radius: 5px;
}

/* Bundle CSS related to dynamic font size feature in info card */
:root {
  --font-size-name: 6vw;
  --font-size-hello: calc(var(--font-size-name) * 0.33);
  --font-size-title: calc(var(--font-size-name) * 0.5);
  --font-size-attribution: calc(var(--font-size-name) * 0.2);
  --font-scale-for-medium: 0.6;
}

.hello {
  font-size: var(--font-size-hello);
}

.name {
  font-size: var(--font-size-name);
}

.title {
  font-size: var(--font-size-title);
}

.attribution {
  font-size: var(--font-size-attribution);
}

@media (min-width: 768px) {
  .hello {
    font-size: calc(var(--font-size-hello) * var(--font-scale-for-medium));
  }

  .name {
    font-size: calc(var(--font-size-name) * var(--font-scale-for-medium));
  }

  .title {
    font-size: calc(var(--font-size-title) * var(--font-scale-for-medium));
  }

  .attribution {
    font-size: calc(var(--font-size-attribution) * var(--font-scale-for-medium));
  }
}

/* Bundle CSS related to sticky info card (within r3f) feature */
/* 1. override r3f <Html> */
.feature-for-sticky-content-inside-r3f-html-overrides {
  position: fixed !important;
}

/* 2. tall container to allow scroll */
.feature-for-sticky-content-inside-r3f-container {
  position: relative;
  height: 200vh;
}

/* 3. content */
.feature-for-sticky-content-inside-r3f-content {
  position: sticky;
  height: fit-content;
  top: 0px;
}
