/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 5%); /* Height of overlay */
  pointer-events: none; /* Allows clicks to go through the overlay */
  z-index: 999;
}

.glow-bg {
  border-radius: 25%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px 18px rgba(255, 255, 255, 0.8);
}
