@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-color: #0e0000;
}

.scene {
  /* fallback heights necessary for Safari mobile to avoid multiple scrollbars */
  height: 100dvh;
  height: 100vh;
  height: -webkit-fill-available;
}
