@import url('https://fonts.googleapis.com/css2?family=Mrs+Sheppards&display=swap'); /* cursive */

.App {
  text-align: center;

  /* boilerplate to adjust font for MOBILE */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
