@import url('https://fonts.googleapis.com/css2?family=Mrs+Sheppards&display=swap'); /* cursive */

.App {
  text-align: center;

  /* boilerplate to adjust font for MOBILE */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* debugging
  background: rgba(255, 192, 203, 0.413) !important;
  outline: solid #f00 1px !important;
*/