@import url('https://fonts.googleapis.com/css2?family=Mrs+Sheppards&display=swap');

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("./hero.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 62px; /* allow space for nav */
}

.hero-content {
    padding: 12% 0% 12% 0%; /* show more of bg image */
    margin: auto; /* align horizontally */
    width: 100%;
    /* debugging 
    border: 1px solid #7cb828; */
}

.hero-content h1 {
    color: #fff; font-family: 'Helvetica Neue', sans-serif; font-size: 275px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
    font-size: 13vw;
}

.hero-content h2 {
    color: #fff;
    font-family: 'Mrs Sheppards', cursive;
    margin: 0;
    font-size: 4vw;
    padding-left: 2.5%;
    text-align: left;
}
  
@media (max-width: 900px) {
    .hero-content {
        padding: 40% 0% 40% 0%;
    }

    .hero-content h1 {
        font-size: 23vw;
    }


    .hero-content h2 {
        display: none;
    }
}