.projects-container {
  display: flex; /* flexbox */
}

/* ===BOTH SIDES=== */
.both-sides {
  min-width: 1%; /* CRUCIAL since all elements (img, p, etc) are dynamic, ensure there is a min width to prevent content becoming too narrow */
  
  transition-duration: .5s;
  transition-property: transform, opacity;
}

.both-sides button {
  display: block;
  color: #000; font-family: 'Helvetica Neue', sans-serif; font-size: 5vw; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
  transition: transform 1s;
  white-space: nowrap; /* prevent project titles/buttons from wrapping to new lines */

  /* text only button */
  background: none;
  border: none;
}

.both-sides button:hover {
  transform: scale(1.05);
  transition: transform .5s;
}

/* slide effect for when state changes, class is applied to element and therefore animates */
.slideLeft {
  transform: translate(-500%, 0);
  opacity: 0;
}

.slideRight {
  transform: translate(500%, 0);
  opacity: 0;
}

/* ===LEFT SIDE=== */
.left-side { margin: 10% auto 10% 5%; } /* whitespace */

@media (max-width: 900px) {
  .left-side button { margin: 10vw 0 10vw 0; } /* more space between buttons on left-side for better accessability */
}

/* ===RIGHT SIDE=== */
.right-side {
  /* auto padding to stay vertically in-lign with box A (projects) as box A is taller */
  /* top right bottom left */
  margin-right: 5%;
  margin-bottom: auto; /* dynamic allows sticky to work*/

  /* padding instead of margin so sticky hits, and the extra space for nav bar to overlap over */
  /* bottom padding for white space */
  padding: 56px 0px 56px 0px;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.back-button { height: 50px; }
